---
layout: default
---

<!--<div class="posts">-->
<!--  {% for post in site.posts %}-->
<!--    <article class="post">-->

<!--      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>-->

<!--      <div class="entry">-->
<!--        {{ post.excerpt }}-->
<!--      </div>-->

<!--      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>-->
<!--    </article>-->
<!--  {% endfor %}-->
<!--</div>-->
<div class="notes">
  {% for note in site.notes %}
  <article class="note">

    <h1><a href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a></h1>

    <div class="entry">
      {{ note.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ note.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}
</div>